<%= stylesheet_link_tag "board/board" %>

<%= render "navbar" %>
<p style="color: green"><%= notice %></p>

<div class="board-show-container">
  <div class="content">
    <h1 class="title"><%= @board.name %></h1>
    <div class="info">
      <div class="email"><%= "By #{@board.email}" %></div>
      <div class="created-at"><%="Created at #{@board.created_at}" %></div>
      <div class="board">
      </div>
    </div>
    <div>
      <%= link_to "Back to boards", boards_path %>
    </div>
  </div>
</div>
