<%= stylesheet_link_tag "board/board" %>

<%= render "navbar" %>
<p style="color: green"><%= notice %></p>

<div class="board-show-container">
  <div class="content">
    <h1 class="title"><%= @board.name %></h1>
    <div class="info">
      <div class="email"><%= "By #{@board.email}" %></div>
      <div class="created-at"><%="Created at #{@board.created_at}" %></div>
    </div>
    <div class="board">
      <% @board.arrangement.map do |row| %>
        <div class="row">
          <% row.map do |cell_with_mine| %>
            <div class="tile">
              <% if cell_with_mine %>
                <img src="https://svgsilh.com/svg/37077.svg">
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <div>
      <%= link_to "Back to boards", boards_path %>
    </div>
  </div>
</div>
